.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    border: 2px solid rgb(135, 27, 27);
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

.name {
    color: blue;
}

.username {
    color: red;
}

.email {
    color: red;
}