.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    border: 2px solid black;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    color: blue;
}

.username {
    color: red;
}

.email {
    color: red;
}